<!DOCTYPE html>
<html>
<head>
<title>wordcloud</title>
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'jqcloud.min.css' %}" />
  <script src="{% static 'jqcloud.min.js' %}"></script>

  <link type="text/css" rel="stylesheet" href="{% static 'materialize.min.css' %}"  media="screen,projection"/>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'materialize.min.js' %}"></script>
  

</head>
<style>
  #present {
    position: absolute;
    left: 700px;
    top: 200px;
    cursor: pointer;
  }
  </style>
<body>
<p>
</p>
<!--navbar部分-->
	<nav class="nav-extended deep-purple lighten-1">
		<div class="nav-wrapper">
		<div class="nav-content" style="font-family:Microsoft JhengHei">
		  <ul class="tabs tabs-transparent" >
		  <div class=row>
		  	<!--active表示先把該page顯示出來 #tag_1=topics [科技,財經,運動,娛樂,政治,健康] -->
		  	<li class="tab col l2"><a id="polbtn" class="active" style="font-size:18px;" >政治</a></li>
			<li class="tab col l2"><a id="techbtn" style="font-size:18px;"><span>科技</span></a></li>
			<li class="tab col l2"><a id="econbtn" style="font-size:18px;"><span>財經</span></a></li>
			<li class="tab col l2"><a id="sportbtn" style="font-size:18px;"><span>運動</span></a></li>
			<li class="tab col l2"><a id="artbtn" style="font-size:18px;"><span>娛樂</span></a></li>
			<li class="tab col l2"><a id="healthbtn" style="font-size:18px;"><span>健康</span></a></li>
		  </div>
		  </ul>
		</div>
	</nav>
<!--navbar over-->
	<div id="politics">
		<div id="present">
		</div>
	</div>
	
</html>

<script type="text/javascript">
/*var words = [
  {text: "Lorem", weight: 13},
  {text: "Ipsum", weight: 10.5},
  {text: "Dolor", weight: 9.4},
  {text: "Sit", weight: 8},
  {text: "Amet", weight: 6.2},
  {text: "Consectetur", weight: 5},
  {text: "Adipiscing", weight: 5}
];*/
var pol_words= {{ politics_titles | safe }};
$("#present").jQCloud(pol_words, {
	width: 500,
	height: 500,
	autoResize: true
});

var tec_words= {{ tech_titles | safe }};
$('#techbtn span').trigger('click'); // Also Works
$('#techbtn span').click(techpresent);
function techpresent(e) {
	$("#present").replaceWith( '<div id="present"></div>' );
	$("#present").jQCloud(tec_words, {
	width: 500,
	height: 500,
	autoResize: true
});
}

var sport_words= {{ sport_titles | safe }};
$('#sportbtn span').trigger('click'); // Also Works
$('#sportbtn span').click(sportpresent);
function sportpresent(e) {
	$("#present").replaceWith( '<div id="present"></div>' );
	$("#present").jQCloud(sport_words, {
	width: 500,
	height: 500,
	autoResize: true
});
}

var econ_words= {{ econ_titles | safe }};
$('#econbtn span').trigger('click'); // Also Works
$('#econbtn span').click(econpresent);
function econpresent(e) {
	$("#present").replaceWith( '<div id="present"></div>' );
	$("#present").jQCloud(econ_words, {
	width: 500,
	height: 500,
	autoResize: true
});
}

var art_words= {{ art_titles | safe }};
$('#artbtn span').trigger('click'); // Also Works
$('#artbtn span').click(artpresent);
function artpresent(e) {
	$("#present").replaceWith( '<div id="present"></div>' );
	$("#present").jQCloud(art_words, {
	width: 500,
	height: 500,
	autoResize: true
});
}

var health_words= {{ health_titles | safe }};
$('#healthbtn span').trigger('click'); // Also Works
$('#healthbtn span').click(healthpresent);
function healthpresent(e) {
	$("#present").replaceWith( '<div id="present"></div>' );
	$("#present").jQCloud(health_words, {
	width: 500,
	height: 500,
	autoResize: true
});
}
</script>